body {
    font-family: "Comfortaa", sans-serif;
    background-color:#fffdf3ff;
    margin: 10px;
}


.logotipo {
    text-align: center;
}

.logotipo img{
    width: 100px;
    
}

.menu {
    color: black;
    background-color: #91adaeff;
    width: 60%;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 18px;
    color: black;
    
}

.menu a:hover {
    color: #af7e4dff;

}

.icons {
    text-align: right;
    color: #0a4627ff;
}

.main-section {
    display: flex;
    width: 100%;
}

.main-img img{
    width: 98%;
    padding: auto;
    text-align: center;
    
}

.main-text{
    width: 50%;
    text-align: center;
}

.main-text p {
    text-align: justify;
}

.main-text a{
    background-color: #91adaeff;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin: 10px;
}

.main-text a:hover {
    color: #af7e4dff;

}

.texto {
    margin: 20px;
    width: 95%;
    text-align: center;
}

.section-img img{
    width: 100%;
    text-align: center;
    margin: 5px;
}

footer {
    text-align: center;
    margin: 15px;
    font-weight: bold;
}

