body {
    display: flex;
    justify-content: center;
}

body .grid-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
}

.grid-item {
    color: white;
    background-color: rgb(94, 129, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(34, 53, 93);
    font-size: 35px;
}

.grid-item:hover {
    background-color: rgb(33, 168, 38);
}