#principal {
    width: 80%;
    height: 400px;
    background-color: beige;
    border: 4px solid green;
    border-radius: 8px;
    padding: 20px 30px 40px 30px;
}
body div{
    display: inline-block;
}

div #hijo1 {
    width: 30%;
    height: 50%;
    background-color: brown;
    border: 4px dotted black;
    margin: 30px 40px 0px 20px;
    padding-bottom: 40px;
}

div #hijo2 {
    width: 55%;
    height: 80%;
    background-color: azure;
    border: 19px dashed yellow;
    border-radius: 40px;
}