body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
        "header header"
        "menu main"
        "footer footer";
    grid-template-columns: 260px auto;
    grid-template-rows: 130px auto 40px;
}

.cabecera {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
}

.cabecera img {
    max-height: 100px;
}

.menu {
    grid-area: menu;
    background-color: #eee;
    padding-top: 10px;

}

.menu nav ul li {
    margin-bottom: 10px;
    list-style: none;
    text-decoration: none;
}

.menu nav ul li a{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
}

.menu nav ul li a:hover {
    color: goldenrod;
}

.menu .selected{
    color: goldenrod;
}

.main {
    grid-area: main;
    margin-right: 260px;
}

.main h1 {
    text-transform: uppercase;
    text-align: center;
}

.filtro {
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.filtro ul li{
    display: inline;
}

.filtro ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 4px;
    background-color: goldenrod;
}

.filtro .selected, .filtro ul li a:hover {
    background-color: black;
    color: goldenrod;

}

.marcas {
    width: 750px;  
    margin-right: 260px;
    margin: 0 auto;
}

.marcas ul {
    height: 400px;
    gap: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
}

.marcas ul li {
    list-style: none;
    background-color: #eee;
    border-radius: 16px;
    padding: 6px;
}

.marcas ul li:hover {
    color: gold;
    background-color: goldenrod;
    cursor: pointer;
}

.marcas ul .nostock {
    background-color: #eee;
    color:  #ddd;
}

.marcas ul .nostock:hover {
    color:  #ddd;
    cursor: not-allowed;
    background-color: #eee;
}


footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: goldenrod;
}

