h2{
   color: aquamarine; 
}

#principal article:first-child h2 {
    color: aquamarine;
}

#secundario article:last-child h2{
    color: aquamarine;
}

#principal {
    color: aquamarine;
}

#principal h2 {
    color: aquamarine;
}

.Articulo {
    color: aquamarine;
}

.Articulo h2 {
    color: aquamarine;
} 

#secundario article:last-child{
    color: blueviolet;
}



