body {
    margin: 0;
    padding-bottom: 60px;   
}

#divi, #div2 {
    padding: 20px;
}

#pie-documento {
    position: fixed;       
    bottom: 0;                           
    width: 100%;           
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;             
}