ul{
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
    padding-left: 20px;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    color: green;
    text-decoration: none;
}

ul li a span, ul li a ::after{
    float: right;
}

li:first-child a span::after {
    content: "Iniciar sesion";
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 8px;
}

li:last-child a span::after {
    content: "Favorito";
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 8px;
}