li {
    display: inline;
    padding-left: 20px;
}

li a {
    color: green;
    text-decoration: none;
    display: inline;
}

li:first-child a span::after {
    content: "Iniciar sesion";
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 25px;
}

li:last-child a span::after {
    content: "Favorito";
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 25px;
}