body .gallery {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

div .card {
    border: 1px solid rgb(173, 173, 173);
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    width: 25%;
    max-width: 300px;
}

div .card:hover {
     transform: scale(1.05);
}

div .card img {
    width: 100%;
}

